# <h1>Thực hiện Draw dữ liệu</h1>

Dữ liệu được lấy trực tiếp từ trên trang web Yahoo Finance và có thể được biểu diễn dữ liệu thông quan địa chỉ link: <a href="https://vn.tradingview.com/chart/Z5qAjj3e/?symbol=HOSE%3AFPT" > Data </a> và sẽ lấy dữ liệu của 10 năm cổ phiếu của công ty cổ phần FPT (Việt Nam)

In [1]:
import time
from datetime import datetime
import urllib.request
import pandas as pd

In [2]:
def DATETIME_STAMP(dates):
    time_1 = dates.timetuple()
    time_2 = round(time.mktime(time_1))
    return time_2

In [3]:
star_Time = DATETIME_STAMP(datetime(2004, 1, 1))
end_Time = DATETIME_STAMP(datetime(2019,1,1))
url = 'https://query1.finance.yahoo.com/v7/finance/download/NFLX?period1='+str(star_Time)+'&period2='+str(end_Time)+'&interval=1d&events=history&includeAdjustedClose=true'
print(url)

https://query1.finance.yahoo.com/v7/finance/download/NFLX?period1=1072890000&period2=1546275600&interval=1d&events=history&includeAdjustedClose=true

In [4]:
filename = 'Data.csv'  # Tên tệp để lưu trữ dữ liệu tải xuống
try:
    urllib.request.urlretrieve(url, filename)
    print("Tệp đã được tải xuống thành công.")
except urllib.error.URLError as e:
    print("Lỗi khi tải xuống tệp:", e)

Tệp đã được tải xuống thành công.

In [5]:
data = pd.read_csv('Data.csv')
data['Date'] = pd.to_datetime(data.Date, format='%Y-%m-%d')

In [6]:
print(f"Số lượng dữ liệu: {data.shape[0]}x{data.shape[1]}")

Số lượng dữ liệu: 3776x7

In [7]:
data.head()

        Date      Open      High       Low     Close  Adj Close    Volume
0 2003-12-31  4.045714  4.091429  3.880714  3.906429   3.906429  16801400
1 2004-01-02  4.107143  4.127857  3.842143  3.916429   3.916429  50230600
2 2004-01-05  3.892857  4.061429  3.875000  3.992857   3.992857  25207000
3 2004-01-06  3.946429  4.339286  3.937143  4.257857   4.257857  52633000
4 2004-01-07  4.307143  4.470000  4.249286  4.445714   4.445714  68432000

Sau khi đã có được dữ liệu. Dữ liệu này bao gồm các thuộc tính:
1. Date: (Thời gian) mà dữ liệu được tạo ra (mm/dd/yyy)
2. Open: Là một thuật ngữ dùng để chỉ giá mở cửa của một cổ phiếu.
3. High: Tương tự như Open, dùng để chỉ giá cao nhất trong một cửa hàng cổ phiếu hoặc trong một phiên giao dịch.
4. Low: Ngược lại với High, đây là thuật ngữ dùng để chỉ giá thấp nhất.
5. Close: Là thuật ngữ dùng để chỉ giá đóng cửa (closing price) của một cửa hàng cổ phiếu hoặc trong một phiên giao dịch.
6. Adj Close: Là thuật ngữ dùng để chỉ giá đóng cửa được điều chỉnh (adjusted closing price).
7. Volume: Là thuật ngữ dùng để chỉ khối lượng giao dịch (traded volume).

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3776 entries, 0 to 3775
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3776 non-null   datetime64[ns]
 1   Open       3776 non-null   float64
 2   High       3776 non-null   float64
 3   Low        3776 non-null   float64
 4   Close      3776 non-null   float64
 5   Adj Close  3776 non-null   float64
 6   Volume     3776 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 206.6 KB